<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login App</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
</head>
<body>
    <div class="form-container">
        <h1>Login for the Access</h1><br>
        <form id="commentForm" action="/login" method="POST">

            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
